# Test Code Owners concept - Assign Iza to repository
*                         @IzabelaRosinska

# Test Code Owners concept - Assign Magda to /src/main/** path
/src/main/                @MagdalenaBrejna
